<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="queryToMySQL.Properties.Settings.StoreConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Hans Wakaba\Desktop\rupdate\rupdate\Store.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>